<div class=""></div>

<ul class="nav-links">
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="center"><a target="_blank" href="https://linktr.ee/mert_topcu">About</a></li>
    <li class="upward"><a target="_blank"  href="https://linktr.ee/mert_topcu">Contact</a></li>
    <li class="forward"><a href="Feedback">Feedback</a></li>


    @* ▼ If User not logged in will see login button ▼ *@
    @if (!User.Identity.IsAuthenticated)
    {
        <li class="login-link"><a asp-controller="Auth" asp-action="SignIn"><i class="fa fa-fw fa-user"></i> Login</a></li>
    }
    @* ▼ If User logged in will see welcome text and log out button ▼ *@
    else
    {

        <li style="position: absolute;
    top: 15%;
    right: 11%;
    padding: 10px 15px; color:aqua;"><a><i class="fa fa-fw fa-user"></i> @User.Claims.FirstOrDefault(I => I.Type == "fullname")?.Value</a></li>
        <li class="login-link"><a asp-controller="Auth" asp-action="SignOut"><i class="fa fa-fw fa-user"></i> Logout</a></li>
    }

    
</ul>

