@model BookCreateViewModel

<section class="form-container">
    <div class="form-frame">
        <div class="form-explanation">
            <h2>Form Explanation</h2>
            <p>You can enter the details of the book you want to add in the form fields below. Please enter submit button after that.</p>
        </div>
        <div class="form-content">
            <form method="post" asp-controller="Book" asp-action="Create">
                <div class="form-group">
                    <input asp-for="BookTitle" class="form-control" placeholder="Book Title">
                    <span asp-validation-for="BookTitle" class="text-danger mt-2 fw-bold"></span>
                    <input asp-for="ISBN" class="form-control" placeholder="ISBN">
                    <span class="text-danger mt-2 fw-bold"></span>
                    <input asp-for="AuthorName" class="form-control" placeholder="Author Name">
                    <span asp-validation-for="AuthorName" class="text-danger mt-2 fw-bold"></span>
                    <input asp-for="Publisher" class="form-control" placeholder="Publisher">
                    <span asp-validation-for="Publisher" class="text-danger mt-2 fw-bold"></span>
                    <input asp-for="PublicationYear" class="form-control" placeholder="Publication Year">
                    <span class="text-danger mt-2 fw-bold"></span>
                    <input asp-for="Genre" class="form-control" placeholder="Genre">
                    <span class="text-danger mt-2 fw-bold"></span>
                    <input asp-for="Description" class="form-control" placeholder="Description">
                    <span asp-validation-for="Description" class="text-danger mt-2 fw-bold"></span>
                    <input asp-for="ImageURL" class="form-control" placeholder="Image URL">
                    <span class="text-danger mt-2 fw-bold"></span>

                </div>
                <button style="width:200px; display:flex; justify-content:center; margin-top: 10px;
    margin-bottom:30px;
    padding: 10px;
    border-radius: 4px;" type="submit" class="btn btn-primary">
                    Submit
                </button>

            </form>
        </div>
    </div>
</section>